:root{
    --primary-color: #06566e;
    --secondary-color: #fff;
    --tertiary-color: #AAB99A;
    --forth-color: #083e4e;
}

body {
    font-family: Arial, sans-serif;
    background-color: #06566e;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: var(--forth-color);
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header img {
    width: 90px;
    height: auto;
}

.header h2 {
    margin: 0.5rem 0 0;
    font-size: 1.5rem;
}

.container {
    background: #AAB99A;
    padding: 20px;
    max-width: 400px;
    width: 90%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
}

.converter i {
    font-size: 24px;
    color: #007bff;
    margin: 0 10px;
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 100%;
}

button {
    background: #06566e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #083e4e;
}

h3 {
    margin-top: 20px;
    color: #083e4e;
}

#amount {
    width: 85%;
}

.back-button {
    display: inline-block;
    padding: 12px 30px;
    width: 200px;
    margin-top: 10px;
    background-color: var(--forth-color); 
    color: var(--tertiary-color); 
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    border-radius: 30px; 
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    text-transform: uppercase; 
}

.back-button:hover {
    background-color: #083e4e;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); 
    transform: translateY(-3px);
}

@media (max-width:700px) {
    .container {
        padding: 1px;
    }

    .back-button{
        width: 180px;
        font-size: 13px;
    }

    .back-button:hover {
        transform: translateY(0);
    }
}